{% extends 'layout.html.twig' %}

{% block title %} {{ parent() }} - Change password {% endblock %}

{% block page %}
    <div class="page">
        {{ form_start(changePasswordForm, {
            'attr': {'class': 'form', 'novalidate': 'novalidate'}
        }) }}
        <div class="form__title">{{ 'change_password.form.title'|trans }}</div>

        <div class="form__input-container">
            {{ form_errors(changePasswordForm.plainPassword, {'attr': {'class': 'form__error-message'}}) }}
            {{ form_widget(changePasswordForm.plainPassword, {'attr': {'placeholder': 'Password'}}) }}
        </div>

        <button type="submit">{{ 'change_password.form.submit'|trans }}</button>
        {{ form_end(changePasswordForm) }}
    </div>
{% endblock %}
