{% extends 'layout.html.twig' %}

{% block title %} {{ parent() }} - Forgot password {% endblock %}

{% block page %}
    <div class="page">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <h2 class="">{{ message }}</h2>
            {% endfor %}
        {% endfor %}
        {{ form_start(forgotPasswordForm, {
            'attr': {'class': 'form', 'novalidate': 'novalidate'}
        }) }}
        <div class="form__title">{{ 'forgot_password.form.title'|trans }}</div>

        <div class="form__input-container">
            {{ form_errors(forgotPasswordForm.email, {'attr': {'class': 'form__error-message'}}) }}
            {{ form_widget(forgotPasswordForm.email, {'attr': {'placeholder': 'Email'}}) }}
        </div>

        <button type="submit">{{ 'forgot_password.form.submit'|trans }}</button>
        {{ form_end(forgotPasswordForm) }}
    </div>
{% endblock %}
